:root {
  --dark-purple: #311b92;
  --light-purple: #d1c4e9;
  --border: rgba(125, 125, 125, 0.4);
  --primary: var(--dark-purple);
  --on-primary: white;
  --surface: rgba(125, 125, 125, 0.1);
  --surface-heavy: rgba(125, 125, 125, 0.25);
  --body-color: #222;
  --heading-color: black;
  color-scheme: light dark;
  font-family: arial;
  scroll-behavior: smooth;
}

html,
body {
  color: var(--body-color);
  margin: 0;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  body {
    --body-color: #d3d3d3;
    --heading-color: white;
    --primary: var(--light-purple);
    --on-primary: black;
  }
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

iframe,
img,
svg {
  display: block;
}

iframe,
img {
  width: 100%;
}

iframe {
  height: 550px;
}

img {
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-weight: bold;
  margin: 1rem 0;
}

h1 {
  font-size: 3rem;
}

/* links */

.arrow,
spa-link.arrow::part(link) {
  color: var(--heading-color, currentcolor);
  text-decoration: none;
}

button.arrow {
  background: transparent;
  border: none;
}

.arrow:hover,
spa-link.arrow:hover::part(link),
.arrow:focus,
spa-link.arrow:focus::part(link) {
  color: var(--primary);
}

.arrow:after {
  content: '➔';
  margin-left: 0.25rem;
  transition: margin-left 0.25s;
}

.arrow:hover:after {
  margin-left: 0.5rem;
}

/* grids */

.auto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--col-size), 1fr));
  grid-gap: 1rem;
}

.two-600,
.three-600,
.two-768,
.three-768 {
  align-items: center;
  display: grid;
  gap: 1rem;
}

@media (min-width: 600px) {
  .two-600 {
    grid-template-columns: repeat(2, 1fr);
  }
  .three-600 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) {
  *.two-768 {
    grid-template-columns: repeat(2, 1fr);
  }
  *.three-768 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* cards */

.card {
  background: var(--surface);
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}

.card .content {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

.card .content > * {
  margin: 0;
}

.card .actions {
  padding: 0.5rem;
}

.card img + .actions {
  border-top: none;
}

.card .actions button:before,
.card .actions spa-link::part(link):before {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.card .actions > .arrow {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem;
  width: 100%;
}

/* dialogs */

ardi-dialog[modal]::part(dialog) {
  border: 1px solid var(--border);
  max-height: 75vh;
  max-width: 75vw;
  width: 400px;
}

button.close {
  align-items: center;
  background: transparent;
  border: none;
  border-radius: 50%;
  display: block;
  font-size: 1.25rem;
  font-weight: bold;
  height: 2.5rem;
  justify-content: center;
  padding: 0;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  width: 2.5rem;
}

button.close:after {
  content: '✕';
}

button.close:hover {
  background: var(--surface-heavy);
  color: var(--primary);
}

button.close:focus {
  outline: none;
}

/* lists */

.link-list {
  display: grid;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.link-list li {
  display: block;
}

/* home */

.home section {
  margin-top: 3rem;
}

.home .header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.home .header h1 {
  margin: 0;
  line-height: 1;
}

.home .video video-player {
  aspect-ratio: 16/9;
  background: transparent;
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  overflow: hidden;
}

.home .video .ctas {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0.5rem 0;
}

@media (min-width: 600px) {
  .home .video .two-600 {
    gap: 0;
  }
  .home .video .ctas {
    align-items: center;
    background: var(--surface);
    border: 1px solid var(--border);
    border-left: none;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    color: var(--heading-color);
    display: grid;
    margin: 0;
    padding: 1rem;
  }
}

/* what we do */

.what-we-do {
  margin-bottom: 2rem;
}

.what-we-do .card {
  background: white;
}

.what-we-do .card img {
  aspect-ratio: 4/3;
}

.what-we-do .card h3 {
  color: black;
  text-align: center;
}

/* events */

snappy-calendar {
  background: var(--surface);
  border: 1px solid var(--border);
  border-radius: 0.5rem;
}

snappy-calendar::part(grid) {
  padding: 0 1rem;
}

/* developments */

.developments {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  opacity: 1;
}

.developments .info {
  --body-color: black;
  --heading-color: black;
  color: black;
}

.developments .info h3 {
  margin: 0;
}

.developments .info p {
  align-items: center;
  display: flex;
  gap: 0.5em;
}

.developments .info p:before {
  color: var(--key);
  content: '⬤';
}

.developments .info spa-link.arrow,
.developments .info spa-link.arrow::part(link),
.developments .info spa-link.arrow:hover::part(link),
.developments .info spa-link.arrow:focus::part(link) {
  color: black;
}
